<div class="rightside">
    <div class="content">
        <div class="row">
            <div class="container">
                <div class="alert alert-danger" ng-show="error">{{ error }}</div>
                <div class="alert alert-success" ng-show="success">{{ success }}</div>
                <div align="center" ng-show="loading">
                    <img src="app/admin/img/loader.gif" height="45" width="45">
                </div>
                <br>
                <br>
                <form  class="form-horizontal"
                       name="EditForm"
                       id="EditForm"
                       ng-controller="EditMaterialController"
                       ng-submit="updateMaterial(EditForm.$valid)" novalidate>
                    <div class="box">
                        <div class="box-title">
                            <h3>Select Chapter</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 col-offset-3 control-label">Subject</label>
                                <div class="col-sm-8">
                                    <select type="text"
                                            class="form-control"
                                            ng-model="selectedSubject"
                                            ng-change="getChapters(selectedSubject)"
                                    >
                                        <option ng-repeat="subject in subjects"
                                                value="{{ subject.id }}"
                                                ng-selected="isSelected(subject.id, selectedSubject)"
                                        >
                                            {{ subject.name }} ({{ subject.standard.division }})
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-if="subjectsError">
                                <div class="col-sm-8">
                                    <div class="alert alert-danger">Looks like there are no subjects in the system. Please add subjects in the settings section then try this operation!</div>
                                </div>
                            </div>

                            <div class="form-group"
                                 ng-class="{'has-error': (EditForm.$submitted && EditForm.chapter_id.$invalid) || (EditForm.chapter_id.$invalid && EditForm.chapter_id.$dirty) }">
                                <label class="col-sm-2 col-offset-3 control-label">Chapter</label>
                                <div class="col-sm-8">
                                    <select type="text"
                                            name="chapter_id"
                                            class="form-control"
                                            ng-model="material.chapter_id"
                                            ng-options="chapter.id as chapter.title for chapter in chapters "
                                            required
                                    >
                                        <option value="">Select Chapter</option>
                                    </select>
                                    <p class="help-block"
                                       ng-if="(submitted && EditForm.chapter_id.$invalid) || (EditForm.chapter_id.$invalid && EditForm.chapter_id.$dirty)"
                                    >
                                        Chapter is required!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-title">
                            <h3>Text</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group"
                                 ng-class="{'has-error': (EditForm.$submitted && EditForm.topic.$inalid) || (EditForm.topic.$invalid && EditForm.topic.$dirty)}">
                                <div class="col-md-12">
                                    <input type="text"
                                           name="topic"
                                           class="form-control"
                                           ng-model="material.topic"
                                           placeholder="Topic" required>
                                    <p class="help-block"
                                       ng-if="(EditForm.$submitted && EditForm.topic.$inalid) || (EditForm.topic.$invalid && EditForm.topic.$dirty)">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                            <textarea id="material_text_edit" rows="30" required></textarea>
                            <br>

                            <div class="row" align="center">
                                <input type="submit" value="Update" class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
