<div class="rightside">
    <div class="page-head">
      <h1>
          <i class="fa fa-clock-o"> Recently Added Materials</i>
          <small>Showing your most recent material entries</small>
      </h1>
    </div>
    <div class="content">
        <div class="row">
            <div class="container">
                <div class="alert alert-danger" ng-show="error">{{ error }}</div>
                <div class="alert alert-success" ng-show="success">{{ success }}</div>
                <div align="center" ng-show="loading">
                    <img src="app/admin/img/loader.gif" height="45" width="45">
                </div>
                <br>
                <div class="row" ng-repeat="material in materials">
                    <material-card></material-card>
                </div>
            </div>
        </div>
    </div>
</div>
