<div class="rightside" ng-init="getTests()">
  <div class="page-head">
      <h1>
        <i class="glyphicon glyphicon-folder-open"> </i>
        All Tests
        <small>View all the tests you've created</small>
      </h1>
  </div>
  <div class="content">
    <div class="row">
      <div class="container">
        <feedback></feedback>
        <loading></loading>
        <tests-pagination></tests-pagination>
        <div class="row">
            <div class="col-md-12" ng-repeat="test in tests">
                <test-card></test-card>
            </div>
         </div>
         <tests-pagination></tests-pagination>
      </div>
    </div>
  </div>
</div>
