<div class="rightside">
  <div class="page-head">
      <h1>
        <i class="fa fa-bullhorn"> SMS Alerts</i>
        <small>Send SMS Alerts to parents!</small>
      </h1>
  </div>

  <div class="content">
    <div class="row">
      <div class="container">
        <div class="alert alert-danger" ng-show="error">{{ error }}</div>
        <div class="alert alert-success" ng-show="success">{{ success }}</div>
        <div align="center" ng-show="loading">
            <img src="app/admin/img/loader.gif" height="45" width="45">
        </div>

        <div class="box" style="margin-bottom: 30px">
           <div class="box-title">
               <i class="fa fa-envelope-square"></i>
               <h3>Compose Message</h3>
           </div>
           <div class="box-body">
               <form class="from-horizontal" name="SendForm" novalidate>
                <div class="form-group">
                  <select class="form-control"
                          name="standard"
                          ng-options="standard.division for standard in standards"
                          ng-model="Standard"
                          ng-change="standardSelected(Standard)"
                          required
                          >
                    <option value="">Select Standard</option>
                  </select>
                </div>
                   <textarea name="message"
                             ng-model="Message"
                             placeholder="Compose your message here..."
                             class="form-control"
                             rows="4">
                    </textarea>
              </form>
          </div>
           <div class="box-footer clearfix">
             <div class="btn-group">
               <button type="button"
                       title="Click on this button to change this option!"
                       class="btn btn-info dropdown-toggle"
                       data-toggle="dropdown">
                       {{ currentRecepientType.type }}
                       <i class="fa fa-bell-o"></i>
              </button>
               <ul class="dropdown-menu" role="menu">
                   <li>
                     <a href=""
                          ng-repeat="RecepientType in RecepientTypes"
                          ng-click="setRecepientType(RecepientType.id)">
                          {{ RecepientType.type }}
                          <i class="fa fa-check"
                             ng-if="currentRecepientType.id === RecepientType.id"></i>
                      </a>
                   </li>
               </ul>
             </div>

             <button type="submit"
                       class="pull-right btn btn-success"
                       ng-click="Send(SendForm.$valid)"
               >
                 Send
               <i class="fa fa-send-o"></i>
             </button>
           </div>
      </div>

      <div class="box" ng-if="hasRecepients()">
        <div class="box-title">
          <h3>Recepients ({{ recepientCount }})</h3>
        </div>
        <div class="box-body">
          <div class="mailbox row">
            <div class="col-md-12 col-sm-8">
              <div class="mailbox-tools clearfix">
                <div class="pull-left">
                  <div class="btn-group">
                    <button type="button"
                            class="btn btn-info no-radius dropdown-toggle"
                            data-toggle="dropdown">Options
                            <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="" ng-click="checkAll()">Select all</a></li>
                      <li><a href="" ng-click="uncheckAll()">Select none</a></li>
                      <li><a href="" ng-click="remove()">Remove</a></li>
                    </ul>
                  </div>
                  <button class="btn btn-primary"
                          ng-click = "resetRecepientList()">
                          <i class="fa fa-refresh"></i>
                          Reset
                  </button>
                </div>
                <div class="pull-right" ng-if="hasStreams(Standard)">
                  <!-- Current Filter -->
                  <span class="tag label label-primary" ng-if="currentFilter"><i class="fa fa-filter"></i> {{ currentFilter }}</span>
                  <div class="btn-group">
                    <button type="button"
                            class="btn btn-warning palette-carrot dropdown-toggle"
                            data-toggle="dropdown">Filter By Stream
                            <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href=""
                             ng-repeat="stream in Standard.streams"
                             ng-click="filterByStream(stream)">
                             {{ stream.stream }}
                             <i class="fa fa-filter"
                                ng-if="stream.stream === currentFilter"></i>
                          </a>
                      </li>
                    </ul>
                  </div>
                  <div class="btn-group">
                    <button type="button"
                            class="btn btn-info palette-sun-flower dropdown-toggle"
                            data-toggle="dropdown">Filter By Batch
                            <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href=""
                             ng-repeat="batch in Standard.batches"
                             ng-click="filterByBatch(batch)">
                             {{ batch.name }}
                             <i class="fa fa-filter"
                                ng-if="batch.name === currentFilter"></i>
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="table-responsive scroll">
                <table class="table table-hover">
                  <tr class="unread" ng-repeat = "recepient in recepients">
                      <td class="small"><input type="checkbox" ng-model="recepient.selected"/></td>
                      <td>{{ recepient.name }}</td>
                      <td>{{ recepient.stream.stream }}</td>
                      <td>
                        <span ng-repeat="batch in recepient.batches">
                            {{ batch.name }} <br/>
                        </span>
                      </td>
                  </tr>
                </table>
             </div><!-- /.table-responsive -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>

  </div>
</div>
</div>
</div>
