<div class="rightside">
  <div class="page-head">
    <h1>
        <i class="fa fa-search"> Search Questions</i>
    </h1>
  </div>
<div class="content">
  <div class="row">
      <div class="container">
          <feedback></feedback>
          <loading></loading>
          <form  class="form-horizontal" ng-controller="SearchQuestionController" novalidate>
              <div class="box">
                  <div class="box-title">
                      <h3>Select Chapter</h3>
                  </div>
                  <div class="box-body">

                          <div class="form-group">
                              <label class="col-sm-1 col-offset-3 control-label">Standard</label>
                              <div class="col-sm-10">
                                  <select type="text" class="form-control" ng-options="standard as standard.division for standard in standards" ng-model="selectedStandard" ng-change="getStreams(selectedStandard)">
                                      <option value="">Select Standard</option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-group" ng-if="hasStreams">
                              <label class="col-sm-1 col-offset-3 control-label">Stream</label>
                              <div class="col-sm-10">
                                  <select type="text" class="form-control" ng-options="stream.stream for stream in streams" ng-model="selectedStream" ng-change="getSubjects(selectedStream)">
                                      <option value="">Select Stream</option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-group" ng-if="hasSubjects">
                              <label class="col-sm-1 col-offset-3 control-label">Subject</label>
                              <div class="col-sm-10">
                                  <select type="text" class="form-control" ng-options="subject.id as subject.name for subject in subjects" ng-model="selectedSubject" ng-change="getChapters(selectedSubject)">
                                      <option value="">Select Subject</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group" ng-if="subjectsError">
                              <div class="col-sm-10">
                                  <div class="alert alert-danger">Looks like there are no subjects in the system. Please add subjects in the settings section then try this operation!</div>
                              </div>
                          </div>

                          <div class="form-group" ng-if="hasChapters">
                              <label class="col-sm-1 col-offset-3 control-label">Chapter</label>
                              <div class="col-sm-10">
                                  <select type="text" class="form-control" ng-options="chapter.id as chapter.title for chapter in chapters" ng-model="selectedChapter" ng-change = "fetchQuestions(selectedChapter)">
                                      <option value="">Select Chapter</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
            <div class="row" ng-repeat = "question in questions">
                <question-card></question-card>
            </div>
          </form>
      </div>
  </div>
</div>
</div>
