<div class="wrapper">
    <panel></panel>
    <div class="rightside">
        <div class="content">
            <div class="row">
                <div class="container">
                    <div class="alert alert-danger" ng-show="error">{{ error }}</div>
                    <div class="alert alert-success" ng-show="success">{{ success }}</div>
                    <div align="center" ng-show="loading">
                        <img src="app/admin/img/loader.gif" height="45" width="45">
                    </div>

                    <section>
                        <ul class="nav nav-tabs">
                            <li role="presentation">
                                <a href="#Students/search">
                                    <i class="fa fa-search"></i>
                                    Search
                                </a>
                            </li>
                            <li role="presentation"  class="active">
                                <a href="#Students/add">
                                    <i class="fa fa-plus"></i>
                                    Add Student
                                </a>
                            </li>
                        </ul>
                    </section>
                    <div class="box">
                        <div class="box-title">
                            <h3>Add New Student</h3>
                        </div>
                        <div class="box-body">
                            <form  class="form-horizontal" name="addUserForm" autocomplete="off" novalidate>
                                <div class="form-group" ng-class="{'has-error' : (submitted && addUserForm.name.$invalid ) || (addUserForm.name.$invalid && !addUserForm.name.$pristine)}">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" ng-model="newStudent.name" required>
                                        <p ng-show="(submitted && addUserForm.name.$error.required ) || (addUserForm.name.$invalid && !addUserForm.name.$pristine)" class="help-block">Name of the Student is required.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' :(submitted && addUserForm.address.$invalid ) || (addUserForm.address.$invalid && !addUserForm.address.$pristine)}">
                                    <label class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="address" ng-model="newStudent.address" required></textarea>
                                        <p ng-show="(submitted && addUserForm.address.$invalid ) || (addUserForm.address.$invalid && !addUserForm.address.$pristine)" class="help-block">Address is required.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' :(submitted && addUserForm.city.$invalid) || (addUserForm.city.$invalid && !addUserForm.city.$pristine)}">
                                    <label class="col-sm-2 control-label">City</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="city" ng-model="newStudent.city" required>
                                        <p ng-show="(submitted && addUserForm.city.$invalid) || (addUserForm.city.$invalid && !addUserForm.city.$pristine)" class="help-block">City is required.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' : addUserForm.birthdate.$invalid && !addUserForm.birthdate.$pristine}">
                                    <label class="col-sm-2 control-label">Birthdate</label>
                                    <div class="col-sm-10">
                                        <input type="date" name="birthdate" class="form-control" ng-model="newStudent.birthdate" required>
                                        <p ng-show="addUserForm.birthdate.$error.date && !addUserForm.birthdate.$pristine" class="help-block">Select a valid date.</p>
                                        <p ng-show="addUserForm.birthdate.$error.required && !addUserForm.birthdate.$pristine" class="help-block">Birthdate is required.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' : (submitted && addUserForm.email.$invalid) || (addUserForm.email.$invalid && !addUserForm.email.$pristine)}">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" name="email" class="form-control" ng-model="newStudent.email" required>
                                        <p ng-show="(submitted && addUserForm.email.$error.email) || (addUserForm.email.$error.email && !addUserForm.email.$pristine)" class="help-block">Enter a valid Email Address.</p>
                                        <p ng-show="(submitted && addUserForm.email.$error.required) || (addUserForm.email.$error.required && !addUserForm.email.$pristine)" class="help-block">Email Address is required.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : addUserForm.phone.$invalid && !addUserForm.phone.$pristine}">
                                    <label class="col-sm-2 control-label">Phone No.</label>
                                    <div class="col-sm-10">
                                        <input type="number" name="phone" class="form-control" ng-model="newStudent.phone" ng-minlength="10" ng-maxlength="12">
                                        <p ng-show="(addUserForm.phone.$error.minlength || addUserForm.phone.maxlength) && !addUserForm.phone.$pristine" class="help-block">The Phone Number must be between 10 and 12 digits. Include STD Code.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' :(submitted && addUserForm.parent_mobile.$invalid) || (addUserForm.parent_mobile.$invalid && !addUserForm.parent_mobile.$pristine)}">
                                    <label class="col-sm-2 control-label">Parent's Mobile No.</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" name="parent_mobile" ng-model="newStudent.parent_mobile" ng-minlength="10" ng-maxlength="10" required>
                                        <p ng-show="(submitted && addUserForm.parent_mobile.$error.required) || ((addUserForm.parent_mobile.$error.number || addUserForm.parent_mobile.$error.required) && !addUserForm.parent_mobile.$pristine)" class="help-block">Enter a valid Mobile Number.</p>
                                        <p ng-show="(addUserForm.parent_mobile.$error.minlength || addUserForm.parent_mobile.$error.maxlength) && !addUserForm.parent_mobile.$pristine" class="help-block">Mobile Number must be 10 digits long.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' :(submitted && addUserForm.student_mobile.$invalid) || (addUserForm.student_mobile.$invalid && !addUserForm.student_mobile.$pristine) }">
                                    <label class="col-sm-2 control-label">Student's Mobile No.</label>
                                    <div class="col-sm-10">
                                        <input type="number" name="student_mobile" class="form-control" ng-model="newStudent.student_mobile" ng-minlength="10" ng-maxlength="10" required>
                                        <p ng-show="(submitted && addUserForm.parent_mobile.$error.required) || ((addUserForm.student_mobile.$error.number || addUserForm.student_mobile.$error.required) && !addUserForm.student_mobile.$pristine)" class="help-block">Enter a valid Mobile Number.</p>
                                        <p ng-show="(addUserForm.student_mobile.$error.minlength || addUserForm.student_mobile.$error.maxlength) && !addUserForm.student_mobile.$pristine" class="help-block">Mobile Number must be 10 digits long.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' :(submitted && addUserForm.standard.$invalid) || (addUserForm.standard.$invalid && !addUserForm.standard.$pristine) }">
                                    <label class="col-sm-2 control-label">Standard</label>
                                    <div class="col-sm-10">
                                        <select name="standard" class="form-control" ng-model="newStudent.standard" ng-options="standard.division for standard in standards" ng-change="prepareStreams(newStudent.standard)" required>
                                            <option value="">Select Standard</option>
                                        </select>
                                        <p ng-show="(submitted && addUserForm.standard.$error.required) || (addUserForm.standard.$error.required && !addUserForm.standard.$pristine)" class="help-block">Selecting Standard is required.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="hasStreams" ng-class="{'has-error' : (submitted && addUserForm.stream.$invalid) || (addUserForm.stream.$invalid && !addUserForm.stream.$pristine)}">
                                    <label class="col-sm-2 control-label">Stream</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="stream" ng-model="newStudent.stream" ng-options="stream.stream for stream in streams" ng-change="prepareSubjectsByStream(newStudent.stream)" ng-required="hasStreams">
                                            <option value="">Select Stream</option>
                                        </select>
                                        <p ng-show="(submitted && addUserForm.stream.$invalid) || (addUserForm.stream.$invalid && !addUserForm.stream.$pristine)" class="help-block">Selecting Stream is mandatory.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="showSubjects" ng-class="{'has-error' :(submitted && addUserForm.subjects.$invalid) || (addUserForm.subjects.$invalid && !addUserForm.subjects.$pristine)}">
                                    <label class="col-sm-2 control-label">Subjects</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="subjects" multiple ng-multiple="true" ng-model="newStudent.subjects" ng-options="subject.name for subject in subjects" ng-change="calculateFees()" ng-required="showSubjects">
                                        </select>
                                        <p class="help-block" ng-show="(submitted && addUserForm.subjects.$invalid) || (addUserForm.subjects.$invalid && !addUserForm.subjects.$pristine)">Select Subjects which will be studied by this student.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' : addUserForm.fees.$invalid && !addUserForm.fees.$pristine}">
                                    <label class="col-sm-2 control-label">Fees</label>
                                    <div class="col-sm-10">
                                        <input type="number" name="fees" class="form-control" ng-model="newStudent.fees" value="{{ newStudent.fees }}">
                                        <p ng-show="addUserForm.fees.$error.number && !addUserForm.fees.$pristine" class="help-block">Not a valid number.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error' : (submitted && addUserForm.medium.$invalid) || (addUserForm.medium.$invalid && !addUserForm.medium.$pristine)}">
                                    <label class="col-sm-2 control-label">Medium</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="medium" ng-model="newStudent.medium" ng-options="medium.medium for medium in mediums" required>
                                            <option value="">Select Medium</option>
                                        </select>
                                        <p ng-show="(submitted && addUserForm.medium.$invalid) || (addUserForm.medium.$invalid && !addUserForm.medium.$pristine)" class="help-block">Selecting Medium is required.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">School</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="newStudent.school" ng-change="search()">
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="school in schools"><a href="" ng-click="approveSuggestion(school)">{{ school.name }}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div align="center">
                                        <input type="submit" value="Add Student" class="btn btn-success"  ng-click="addStudent(addUserForm.$valid)">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>